.button-primary, .button-secondary {
    font-family: var(--font-family-body);
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

.button-primary {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.button-secondary {
    background-color: var(--color-secondary);
    color: var(--color-text);
}

.button:hover {
    opacity: 0.8;
}