 :root {
    --heading-font: 'Cormorant Garamond', sans-serif;
    --body-font: 'Inter', sans-serif;

   --color-background: #101522;
   --color-surface: #192131;
   --color-surface-raised: #222C40;
   --color-primary: #B83A4B;
   --color-accent: #E4B85C;
   --color-text: #F4EFE5;
   --color-muted: #A9A8A4;
   --color-border: #2a3548;

   --sidebar-width: 300px;
   --sidebar-width-collapsed: 4rem;


   /* Forest Green */  
   /*
   --color-background: #F3F0E6;
   --color-surface: #FCFBF5;
   --color-primary: #21483E;
   --color-primary-dark: #15332D;
   --color-accent: #C39A52;
   --color-text: #26312E;
   --color-muted: #718078;
   */

   /* Purple */
   /*
   --color-background: #F6F1F5;
   --color-surface: #FFFFFF;
   --color-primary: #653B67;
   --color-primary-dark: #432746;
   --color-accent: #D5A85A;
   --color-secondary: #A76C98;
   --color-text: #29242B;
   --color-muted: #776E78;
   */
 }